.place__title_berea-size {
    width: 647px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .place__title_berea-size {
        width: 340px;
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .place__title_berea-size {
        width: 288px;
    }
}