.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .lead {
        width: 720px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .lead  {
        width: 288px;
    }
}
