.cover {
    max-width: 1184px;
    height: 740px;
    color: white;
    position: relative;
    margin-bottom: 92px;
}

.cover:hover .cover__background {
    filter: grayscale(1);
}


@media screen and (max-width: 1279px) and (min-width: 768px) {
    .cover{  
    width: 768px;
    }
   
   
}
@media screen and (max-width: 320){
    .cover {
        width: 320px;
    }
    .cover:hover {
        width: 320px;
    }
}